.home{
    &__container{
        gap: 1rem;
    }
    &__content{
       grid-template-columns: 0.5fr 3fr; 
       padding-top: 3.5rem;
       align-items: center;

       .home__social{
            display: grid;
            grid-template-columns: max-content;
            row-gap: 1rem;

            &::before{
                content: '';
                justify-self: center;
                width: 0.2rem;
                height: 5rem;
                background-color: $first-color;;
            }
            &::after{
                content: '';
                justify-self: center;
                width: 0.2rem;
                height: 5rem;
                background-color: $first-color;;
            }

            &-icon{
                font-size: 1.25rem;
                color: $first-color;

                &:hover{
                color: $first-color-alt;
                }
            }
        }
        .home__image{
            background: $first-color;
            width: 55%;
            // height: 100%;
            justify-self: center;
            
            border-radius: 35% 35% 0 0;
            padding: 1rem 1.5rem 0 1.5rem;
            overflow: hidden;
        }
        .home__data{
            grid-column: 1/3;

            .home__description{
                margin-bottom: $mb-2;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;

        .home__data{
            grid-column: initial;
        }
        .home__image{
            width: 200px;
            order: 1;
            justify-self: center;
        }
    }
}
