.section__portfolio__title{
    margin-bottom: 0%;
}
.portfolio__img{
    justify-self: center;
    height: 250px;      
    margin-bottom: $mb-1;  
}
.portfolio__container{
    overflow: initial;
    position: relative;

    .portfolio__content{
        padding: 0 1.5rem;

        .portfolio__img{
            border-radius: 0.5rem;
            justify-self: center;
            height: 200px; 
            object-fit: cover;       
        }

        .portfolio__title{
           font-size: $h3-font-size;
           margin-bottom: $mb-0-5; 
        }
        .portfolio__description{
            margin-bottom: $mb-0-75;
        }
        .portfolio__button{
            margin-bottom: 2.5rem;
        }
        .portfolio__button:hover .button__icon{
            transform: translateX(0.25rem);
        }
    }
}

.swiper-pagination-bullet{
    background-color:  $first-color !important;
    width: 10px !important;
    height: 10px !important;
}
.swiper-pagination-bullet-active{
    background-color:  $first-color !important;
}
.swiper-button-next{
    height: 5vh ;
    width: 5vh;
    color: $first-color;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;

    &::before{
        content: "\276F";
        font-size: 2rem;
    }
}

.swiper-button-prev{
    height: 5vh ;
    width: 5vh;
    color: $first-color;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 0%;
    display: flex;
    align-items: center;

    &:before{
        content: "\276e";
        font-size: 2rem;
    }
}