.section__portfolio__title{
    margin-bottom: 0%;
}
.portfolio__img{
    justify-self: center;
    height: 250px;      
    margin-bottom: $mb-1;  
}
.portfolio__container{
    overflow: initial;

    .portfolio__content{
        padding: 0 1.5rem;

        .portfolio__img{
            border-radius: 0.5rem;
            justify-self: center;
            height: 200px;        
        }

        .portfolio__title{
           font-size: $h3-font-size;
           margin-bottom: $mb-0-5; 
        }
        .portfolio__description{
            margin-bottom: $mb-0-75;
        }
        .portfolio__button{
            margin-bottom: 2.5rem;
        }
        .portfolio__button:hover .button__icon{
            transform: translateX(0.25rem);
        }
    }
}